spring:
  datasource:
    url: jdbc:mysql://localhost:3306/linen_order_app?useSSL=false&serverTimezone=Asia/Tokyo&allowPublicKeyRetrieval=true
    username: linen
    password: ${DB_PASS:}
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

  thymeleaf:
    cache: false
